*.iml
.gradle
/local.properties
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.kotlin
.externalNativeBuild
.cxx
local.properties
/buf.yaml
/gen/kotlin/com/aizen/gifbrowserapp/generated/RecentSearchesKt.kt
/gen/java/com/aizen/gifbrowserapp/generated/RecentSearchesProto.java
/gen/kotlin/com/aizen/gifbrowserapp/generated/RecentSearchesProtoKt.proto.kt
/gen/kotlin/com/aizen/gifbrowserapp/generated/RecentSearchKt.kt
